/* UNIVERSAL SELECTOR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-size: 22px; */
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;

  background-color: peachpuff;
  /* 
  OR 
  background: peachpuff;
  */

  color: darkblue;
}

h1 {
  border: 2px dashed red;
  width: 50%;
  font-size: 3rem;
  padding: 0.5em;

  /* 
  the above units of font-size and padding
  equate to 48px and 24px respectively 
  */
}

p {
  color: #333;
}

main {
  width: 50vw;
  background-color: aqua;
  font-size: 2rem;
}

.unit {
  font-size: 1em;
}
