@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  color: #fff;
  background: linear-gradient(75deg, rgba(92,92,92,1) 0%, rgba(50,50,50,1) 25%, rgba(42,42,42,1) 50%, rgba(33,33,33,1) 75%, rgba(14,14,14,1) 100%);
  padding: 10%;
  font-size: 2rem;
}

p {
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-family: 'Roboto', sans-serif;
}

/* input, label {
  font: inherit;
} */

/* .container {
  border: 2px dashed red;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1em;

  
  the above units of font-size and padding
  equate to 48px and 24px respectively 
 
}*/


