/* UNIVERSAL SELECTOR
* {
  font-family: 'Courier New', Courier, monospace;
} */

body {
  font-size: 22px;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;

  background-color: peachpuff;
  /* 
  OR 
  background: peachpuff;
  */

  color: darkblue;
}

p {
  color: hsl(0, 100%, 50%);
}
